# pandas: práctica y ejercicios

**NOTAS**
 - Hay muchas formas de resolver cada problema, encuentra la tuya.
 - Crea las celdas extra que necesites.
 - Recuerda que una celda puede ser de tipo Código, o de tipo Markdown. Utiliza las segundas para escribir texto y explicaciones si lo precisas.
 - Intenta crear variables a la hora de resolver los ejercicios.
 - Puedes apoyarte en internet: todos los programadores lo hacemos a diario.

<img width=500 src="https://upload.wikimedia.org/wikipedia/commons/3/31/TitanicBeken.jpg">

Importamos el csv del titanic a un dataframe

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("./data/titanic.csv")

Echa un vistazo a las primeras filas del dataframe

Cuántos pasajeros hay en este dataframe?

Cuáles son las columnas del dataframe?

Cuál es la edad media de los pasajeros? Y la mediana? Cómo interpretas el resultado?

Cuánto costó el billete más caro?

Cuánto pagaron entre todos los pasajeros?

Filtra el dataframe para ver sólo a las mujeres

Filtra el dataframe para ver sólo a los niños (menores de 15 años)

Filtra el dataframe para ver sólo a mujeres y niños

Quién era el pasajero más joven y qué edad tenía?

Cuántos pasajeros eran menores de 20? Qué porcentaje?

Cual es el decil 9 de la edad?

Cuánta gente sobrevivió? Cuánta murió?

Cuánta gente viajaba en cada clase?

Era más probable sobrevivir siendo de primera clase?

Era más probable sobrevivir siendo mujer?

Con cuántos familiares viajaba la gente? (informado en la columna SibSp)

Crear columna con división con denominador 0

Cuántas puertas de embarque había?

Crea un dataframe con las personas que viajaban en primera clase

Crea un dataframe que contenga mujeres y niños

Crea un dataframe con la gente que no viajara en la `S`

Crea un dataframe con todas las "Miss"

Crea una columna booleana que almacene si el pasajero es mayor de edad

Crea una columna con el año de nacimiento del pasajero

Afectó el número de familiares a la probabilidad de sobrevivir?

Eran más caros los billetes de primera clase?

Eran más jovenes los hombres que las mujeres del titanic?

Crea una columna que almacene si el número de ticket del pasajero contiene alguna letra. Define para ello una función y usa `apply`

Exporta los datos a un csv llamado `titanic_enriched.csv`