# Clasificación: práctica y ejercicios

**NOTAS**
 - Hay muchas formas de resolver cada problema, encuentra la tuya.
 - Crea las celdas extra que necesites.
 - Recuerda que una celda puede ser de tipo Código, o de tipo Markdown. Utiliza las segundas para escribir texto y explicaciones si lo precisas.
 - Intenta crear variables a la hora de resolver los ejercicios.
 - Puedes apoyarte en internet: todos los programadores lo hacemos a diario.

**El objetivo de hoy es entrenar un modelo de machine learning y hacer una submission a Kaggle**

## Preliminares

Regístrate en [Kaggle](https://www.kaggle.com/)

Navega hasta la competición del [Titanic](https://www.kaggle.com/competitions/titanic)

Navega por las pestañas 
 - Overview - Description
 - Overview - Evaluation
 - Data
 - (en la pestaña Code se aprende muchísimo, pero hoy mejor no)

## Carga de datos

Descarga los datos

Recuerda:
 - el train viene etiquetado. Lo usarás para entrenar el/los modelos
 - el test **no** viene etiquetado. Te piden predecir sobre ese subconjunto

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../datasets/titanic_official/train.csv")

In [3]:
df_test = pd.read_csv("../datasets/titanic_official/test.csv")

In [4]:
df.shape

(891, 12)

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df_test.shape

(418, 11)

In [7]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Exploración de datos

Haz análisis univariantes, bivariantes y multivariantes  
Acompaña tus análisis con gráficas

In [19]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
df_test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

## Creación de un modelo predictivo

Entrena un modelo muy sencillo de regresión logística:
 - utiliza sólo la clase para predecir la supervivencia
 
Después:
 - haz predicciones sobre el test
 - submite a Kaggle tus resultados en el formato esperado

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
log = LogisticRegression()

In [23]:
X = df[["Pclass"]]
y = df.Survived

In [26]:
log.fit(X, y)

LogisticRegression()

In [30]:
preds_test = log.predict(df_test[["Pclass"]])

In [31]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [32]:
solution = pd.DataFrame({"PassengerId": df_test.PassengerId, "Survived": preds_test})

In [34]:
solution.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [35]:
solution.to_csv("../datasets/titanic_official/solution_simple_solo_class.csv", index=False)

Intenta entrenar modelos más complejos. Algunas ideas (no has de implementar todas)
 - utiliza el sexo del pasajero, que puedes pasar a 0/1
 - utiliza la edad, imputando los nulos con alguna estrategia
 - utiliza la puerta de embarque
 - utiliza la letra de la cabina
 - imputa los nulos

Después:
 - haz predicciones sobre el test
 - submite a Kaggle tus resultados

In [38]:
df.Sex = df.Sex.map({"male": 1, "female": 0})

In [42]:
df.Age = df.Age.fillna(df.Age.mean().round(1))

In [43]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [45]:
log = LogisticRegression()

In [46]:
X = df[["Pclass", "Sex", "Age"]]
y = df.Survived

In [47]:
log.fit(X, y)

LogisticRegression()

In [48]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Toda transformación que hice al train, debo hacerla al test

In [51]:
df_test.Sex = df_test.Sex.map({"male": 1, "female": 0})

In [53]:
df_test.Age = df_test.Age.fillna(df_test.Age.mean().round(1))

In [54]:
preds_test = log.predict(df_test[["Pclass", "Sex", "Age"]])

In [56]:
solution = pd.DataFrame({"PassengerId": df_test.PassengerId, "Survived": preds_test})

In [57]:
solution.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [58]:
solution.to_csv("../datasets/titanic_official/solution_class_age_sex.csv", index=False)